:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--menu-background-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.5rem;
}

.logo-link {
  width: 2.5rem;
  height: 2.5rem;
}

.logo-link__svg {
  display: block;
  width: 80px;
  height: 80px;
}

.burger-button {
  border: 0;
  padding: 0.5rem;
  background-color: transparent;
}

.burger-button > span {
  display: block;
  width: 1.125rem;
  height: 0.125rem;
  border-radius: 0.625em;
  background-color: var(--app-white-color);
}

.burger-button > span + span {
  margin-top: 3px;
}
