main {
  height: max-content;
}

.page-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  font-family: Kanit, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
