.header {
  background-color: var(--header-background-color);
}

.header-inner {
  position: relative;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0;
  justify-content: space-between;
}

.header-inner__desktop-link {
  display: flex;
  padding: 1.25rem;
  gap: 0.5rem;
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-inner__desktop-link.list {
  position: absolute;
  left: 167px;
}

.header-inner__desktop-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-family: Kanit, sans-serif;
  font-size: 2rem;
  line-height: 0.9;
}
