<header class="header">
  <div class="header-inner">
    <a href="/" class="header-inner__desktop-link">
      <img ngSrc="assets/icons/burger.svg" alt="Burger" height="22" width="24">
      <span>Конструктор</span>
    </a>

    <a href="/orders" class="header-inner__desktop-link list">
      <img ngSrc="assets/icons/list.svg" alt="List" height="22" width="22">
      <span>Лента заказов</span>
    </a>

    <a href="/" class="header-inner__desktop-logo">
      <span>stellar</span>
      <img ngSrc="assets/icons/logo.svg" alt="Logo" height="32" width="32">
      <span>burgers</span>
    </a>

    <a href="/profile" class="header-inner__desktop-link">
      <img ngSrc="assets/icons/profile.svg" alt="Profile" height="22" width="18">
      <span>Профиль</span>
    </a>
  </div>
</header>
