<main class="constructor-page">
  <h1 class="h1 constructor-page__title">Соберите бургер</h1>
  <app-ingredients-switch/>

  <div>
    <h3>Булки</h3>
    @for (ingredient of bunsList(); track ingredient._id) {
      <div>{{ ingredient.name }}</div>
    }
  </div>

  <div>
    <h3>Соусы</h3>
    @for (ingredient of saucesList(); track ingredient._id) {
      <div>{{ ingredient.name }}</div>
    }
  </div>

  <div>
    <h3>Основные ингердиенты</h3>
    @for (ingredient of mainList(); track ingredient._id) {
      <div>{{ ingredient.name }}</div>
    }
  </div>


</main>
