<main class="constructor-page">
  <h1 class="h1 constructor-page__title">Соберите бургер</h1>
  <app-ingredients-switch/>

  <div class="constructor-page__inner">
    <h3 class="h3">Булки</h3>
    <div class="ingredients-list">
      @for (ingredient of bunsList(); track ingredient._id) {
        <app-ingredient-card
          (onAddIngredient)="selectIngredient($event)"
          [ingredient]="ingredient"
          [selectedNumber]="checkIngredientSelected(ingredient._id)"
        />
      }
    </div>

    <h3 class="h3 ingredients-list-title">Соусы</h3>
    <div class="ingredients-list">
      @for (ingredient of saucesList(); track ingredient._id) {
        <app-ingredient-card
          (onAddIngredient)="selectIngredient($event)"
          [ingredient]="ingredient"
          [selectedNumber]="checkIngredientSelected(ingredient._id)"
        />
      }
    </div>

    <h3 class="h3 ingredients-list-title">Основные ингердиенты</h3>
    <div class="ingredients-list">
      @for (ingredient of mainList(); track ingredient._id) {
        <app-ingredient-card
          (onAddIngredient)="selectIngredient($event)"
          [ingredient]="ingredient"
          [selectedNumber]="checkIngredientSelected(ingredient._id)"
        />
      }
    </div>
  </div>

  @if (orderSum()) {
    <div [@openClose]="'open'" class="order-price-modal">
      <div class="order-price">
        <span class="order-price__sum">{{orderSum()}}</span>
        <app-svg-icon icon="currency" width="22" height="22" class="order-price__currency" />
      </div>
      <button (click)="onOrderButtonClick()" class="gradient-button">Смотреть заказ</button>
    </div>
  }

  @if (isOrderMobileModalOpen()) {
    <app-order-mobile-modal [selectedIngredientsList]="selectedIngredientsList()" (closeOrder)="closeOrderModal()" />
  }
</main>
