<main class="constructor-page">
  <h1 class="h1 constructor-page__title">Соберите бургер</h1>
  <app-ingredients-switch/>

  <div class="constructor-page__inner">
    <h3 class="h3">Булки</h3>
    <div class="ingredients-list">
      @for (ingredient of bunsList(); track ingredient._id) {
        <app-ingredient-card [ingredient]="ingredient" />
      }
    </div>

    <h3 class="h3 ingredients-list-title">Соусы</h3>
    <div class="ingredients-list">
      @for (ingredient of saucesList(); track ingredient._id) {
        <app-ingredient-card [ingredient]="ingredient" />
      }
    </div>

    <h3 class="h3 ingredients-list-title">Основные ингердиенты</h3>
    <div class="ingredients-list">
      @for (ingredient of mainList(); track ingredient._id) {
        <app-ingredient-card [ingredient]="ingredient" />
      }
    </div>
  </div>
</main>
