.constructor-page__title {
  margin-top: 1rem;
  text-align: center;
}

.constructor-page__inner {
  padding: 1.25rem 0.5rem;
}

.ingredients-list-title {

}

.ingredients-list {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
