:host {
  width: calc(50% - 0.5rem);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.ingredient-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ingredient-name {
  text-align: center;
  font-size: 0.875rem;
}

.button-add {
  margin-top: auto;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 0;
  color: var(--app-violet-color);
}
