<header class="header">
  <div class="header__inner">
    <a href="/" class="desktop-link">
      <img src="assets/icons/burger.svg" alt="Burger" />
      <span>Конструктор</span>
    </a>

    <a href="/orders" class="desktop-link active">
      <img src="assets/icons/list.svg" alt="List" />
      <span>Лента заказов</span>
    </a>

    <a href="/" class="desktop-logo">
      <span>stellar</span>
      <img src="assets/icons/logo.svg" alt="Logo" />
      <span>burgers</span>
    </a>

    <a href="/profile" class="desktop-link">
      <img src="assets/icons/profile.svg" alt="Profile" />
      <span>Профиль</span>
    </a>
  </div>
</header>
