@if (!ingredientsArray.length) {
  Loading
} @else {
    <h3 #bunsTitle class="category-title">Булки</h3>
    <div class="category-list">
      @for (ingredient of bunsArray; track 'ingredient' + ingredient.__v) {
        <app-ingredient-card
          (selectIngredient)="selectIngredient.emit($event)"
          [ingredient]="ingredient"
          [quantityOfSelectedIngredients]="countingTheNumberOfSelectedIngredients(ingredient)"
        />
      }
    </div>

    <h3 #saucesTitle class="category-title">Соусы</h3>
    <div class="category-list">
      @for (ingredient of saucesArray; track 'ingredient' + ingredient.__v) {
        <app-ingredient-card
          (selectIngredient)="selectIngredient.emit($event)"
          [ingredient]="ingredient"
          [quantityOfSelectedIngredients]="countingTheNumberOfSelectedIngredients(ingredient)"
        />
      }
    </div>

    <h3 #fillingsTitle class="category-title">Начинки</h3>
    <div class="category-list">
      @for (ingredient of fillingsArray; track 'ingredient' + ingredient.__v) {
        <app-ingredient-card
          (selectIngredient)="selectIngredient.emit($event)"
          [ingredient]="ingredient"
          [quantityOfSelectedIngredients]="countingTheNumberOfSelectedIngredients(ingredient)"
        />
      }
    </div>
}
