@import "normalize";

:root {
  --app-background-color: #131316;
  --menu-background-color: #1C1C21;
  --app-white-color: #F2F2F3;
  --app-violet-color: #4C4CFF;
  --app-purple-color: #801AB2;
  --app-blue-color: #4C4CFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.4;
  background-color: var(--app-background-color);
  color: var(--app-white-color);
}

a {
  color: var(--app-white-color);
  text-decoration: none;
}
