<header class="header">
  <div class="header-inner">

            <!--Desktop elements-->

    <a href="/" class="header-inner__desktop-link">
      <img src="assets/icons/burger.svg" alt="Burger">
      <span>Конструктор</span>
    </a>

    <a href="/orders" class="header-inner__desktop-link list">
      <img src="assets/icons/list.svg" alt="List">
      <span>Лента заказов</span>
    </a>

    <a href="/" class="header-inner__desktop-logo">
      <span>stellar</span>
      <img src="assets/icons/logo.svg" alt="Logo">
      <span>burgers</span>
    </a>

    <a href="/profile" class="header-inner__desktop-link">
      <img src="assets/icons/profile.svg" alt="Profile">
      <span>Профиль</span>
    </a>


            <!--Mobile elements-->

    <a class="header-inner__mobile-logo" href="/">
      <img src="assets/icons/logo.svg" alt="Logo">
    </a>

    <button class="header-inner__burger-button">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
